body
{	font-family: 'Staatliches', cursive;
}
#bck
{	font-size:1.8rem;
} 
nav a:hover
{	color:#000;
}
.text
{	font-size:1.8rem;
	text-align:center;
	font-weight:bold;
	color:#870a82;
}
.grow img {
  height:200px;
  width:200px;
	
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
		  margin-left:200px;
}
.grow img:hover {
	margin-left:200px;
  width:250px;
  height:250px;
}
.mnu h1
{	text-align:center;
	font-size:3rem;
}